---
import Image from './Image.astro';

export interface Props {
  text: string;
  url: string | URL;
}

const { text, url } = Astro.props;
---

<div class="flex items-center gap-x-4">
  <div>
    <p>Share:</p>
  </div>
  <div class="flex items-center gap-x-4">
    <button
      title="Linkedin Share"
      data-aw-social-share="linkedin"
      data-aw-url={url}
      data-aw-text={text}>
      <Image
        class="size-6"
        src="~/assets/images/icons/linkedin.svg"
        alt="linkedin icon"
      />
    </button>
    <button
      title="Facebook Share"
      data-aw-social-share="facebook"
      data-aw-url={url}>
      <Image
        class="size-6"
        src="~/assets/images/icons/facebook.svg"
        alt="facebook icon"
      />
    </button>
    <button
      title="Bluesky Publish"
      data-aw-social-share="bluesky"
      data-aw-url={url}
      data-aw-text={text}>
      <Image
        class="size-6"
        src="~/assets/images/icons/bluesky.svg"
        alt="bluesky icon"
      />
    </button>
  </div>
</div>
